Options -MultiViews

RewriteEngine On

Options -Indexes

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

RewriteCond %{REQUEST_URI} !^/config
RewriteCond %{REQUEST_URI} !^/lib
RewriteCond %{REQUEST_URI} !^/application
RewriteCond %{REQUEST_URI} !^/user
RewriteCond %{REQUEST_URI} ^public
RewriteRule ^(.+)$ index.php [QSA,L]